useDynLib(lmeNB)

import(lmeNBBayes,numDeriv,statmod)

S3method(print, LinearMixedEffectNBFreq)

export(lmeNB,index.batch,
       fitSemiAR1,fitSemiIND,fitParaAR1,fitParaIND,
       jCP.ar1,CP1.ar1,MCCP.ar1,CP.ar1.se,CP.se,jCP,formulaToDat,
       rNBME.R,print.LinearMixedEffectNBFreq,
       RElmeNB,int.numRE,int.denRE,dens_Yi.gY,densYijGivenYij_1AndGY,dbb)
